body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0; /* Remove margens padrão */
  padding: 0; /* Remove preenchimento padrão */
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  min-height: 100vh; /* Alterado de height para min-height */
  background-color: #F5F5F5;
  overflow: hidden; /* Garante que não há rolagem acidental */
}


#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/*
// Debug: destacar todos os elementos 
* {
  outline: 1px solid red; 
}
*/